body a{
	cursor:pointer;
	}
#wrapper{
	color:#000000;
	font-family:tahoma;
	font-size:14px;
	margin:0 auto;
	width:280px;
	margin-top:50px;
}

#wrapper a{
	cursor:pointer;
	font-size:15px;
	font-weight:bold;
	text-decoration:underline;
}

.box {
	font-family: Georgia, serif; 
	background: url(images/bg.png);
	color: #3a3a3a;
    height: 355px;
    left: 100%;
    padding: 0px;
    position: fixed;
    right: 30%;
    top: 10%;
    width: 280px;
    z-index: 101;
	border:0px solid #04091c;
	border-radius:0px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	-moz-box-shadow: 0 5px 15px 0px #cccccc;
	-webkit-box-shadow: 0 5px 15px 0px #cccccc;
	box-shadow: 0 5px 15px 0px #cccccc;
}
.topb {
	background:  url(images/active-header.gif);
	padding: 0px;
	height: 50px;
	width: 280px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align:center;
}
.top_leftb {
	margin-top:0;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 50px;
	width: 280px;
	position: relative;
    top: -20px;
}
.box .topb .top_leftb h3 {
	font-family: 'Libre Baskerville', serif;
	font-size: 18px;
	line-height: 50px;
	font-weight: bold;
	color: #FFF;
	margin: 0px;
	text-align: center;
	font-variant: small-caps;
	left:0px;
	
}

.box hr {
	color: #0000ff;
	width: 280px;
	padding: 0px;
	margin-top: 2px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height: 1px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: dashed;
	position:absolute;
	float:center;
}
.overlay {
    background: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
	opacity:0.6;
}
#content {
	background:  url(images/boxbg.png) center bottom #c4c4c4;
	height: 295px;
	overflow:auto;
	width: 270px;
	top: -65px;
	left: 5px;
	position:relative;
	text-align:center;
	font-size: 2em;
	font-family: Verdana, Geneva, sans-serif;
	color:#FFFFFF;
	}

	
a.boxclose {
    background: url("close.png") left transparent;
    cursor: pointer;
    float: left;
    height: 20px;
    left: 0px;
    
    width: 20px;
}
a.boxopen {
    background: url("open.png") center transparent;
    cursor: pointer;
    float: left;
    height: 20px;
    left: -70px;
    position: relative;
    top: 0px;
    width: 20px;
}
.clear				{ clear: both; }

#login-form				{ width: 406px; margin: 70px auto 0; }

legend				{ display: none; }

fieldset			{ border: 0; }

.lbllgn				{
	width: 115px;
	text-align: right;
	float: left;
	margin: 0 10px 0 0;
	padding: 9px 0 0 0;
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
}
#login				{ width: 220px; display: block; padding: 4px; margin: 0 0 10px 0; font-size: 18px;
					  color: #3a3a3a; font-family: Georgia, serif;}
#password				{ width: 220px; display: block; padding: 4px; margin: 0 0 10px 0; font-size: 18px;
					  color: #3a3a3a; font-family: Georgia, serif;}
#remember_me { width: 20px; margin: 0; display: inline-block; }
					  
.button				{ background: url(images/button-bg.png) repeat-x top center; border: 1px solid #999;
					  -moz-border-radius: 5px; padding: 5px; color: black; font-weight: bold;
					  -webkit-border-radius: 5px; font-size: 13px;  width: 70px; }
.button:hover		{ background: white; color: black; }